span.icon > .fa {
    cursor: default;
}
.admonitionblock td.icon {
    text-align: center;
    width: 80px;
}
.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: default;
}
.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155,155,0,.8);
    color: #111;
}
.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000;
}

.conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
}
.conum[data-value] * {
    color: #fff !important;
}
.conum[data-value] + b {
    display: none;
}
.conum[data-value]::after {
    content: attr(data-value);
}
pre .conum[data-value] {
    position: relative;
    top: -.125em;
}
b.conum * {
    color: inherit !important;
}
.conum:not([data-value]):empty {
    display: none;
}
