

<script type="text/x-mathjax-config">
 MathJax.Hub.Config({
     messageStyle: "none",
     tex2jax: {
         inlineMath: [["\\(", "\\)"]],
         displayMath: [["\\[", "\\]"]],
         ignoreClass: "nostem|nolatexmath"
     },
     asciimath2jax: {
         delimiters: [["\\$", "\\$"]],
         ignoreClass: "nostem|noasciimath"
     },
     TeX: { equationNumbers: { autoNumber: "none" } }
 });
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
